layout {
        tab hide_floating_panes=true{
                pane edit="./src/main.rs" {
                        name "editor"
                }

                floating_panes {
                        pane command="cargo" {
                                name "test"
                                start_suspended true
                                args "run"
                                x "10%"
                                y "10%"
                                width "80%"
                                height "80%"
                        }
                }
        }
}
